node_modules/
package.json
package-lock.json
server.js

.vs/
askme_turchin/venv
askme_turchin/.idea/
askme_turchin/.vscode/
askme_turchin/*.pyc
askme_turchin/__pycache__/
askme_turchin/askme_turchin/__pycache__/
.idea/
.vscode/
*.pyc
__pycache__/
