<!-- v tags v -->
<div class="col-xl-6 col-sm-10 position-fixed offset-xl-3 offset-sm-1" style="margin-top: 100px;">
    <div class="container">
    <div class="d-flex flex-row align-items-center justify-content-start">
        <div class="text-shadowed d-flex"><h1></br></h1></div>
        <div class="d-flex m-4"><a href="#"></a></br></div>
    </div>
    <div class="row">
        <div class="col-xl-4 offset-xl-8 col-sm-4 offset-sm-8">
        <div class="container info">
            <div class="row flex-row ps-3">
            <h2 class="text-shadowed">Popular Tags</h2>
            <form action="/tag/The Spark">
                <button type="submit" class="text-shadowed tag_btn me-3 mb-2" style="background-color: aqua;" href="">The Spark</button>
            </form>
            <form action="/tag/Fashion">
                <button type="submit" class="text-shadowed tag_btn me-3 mb-2" style="background-color:yellow" href="/tag/Fashion">Fashion</button>
            </form>
            <form action="/tag/Invasion">
                <button type="submit" class="text-shadowed tag_btn me-3 mb-2" style="background-color:peru" href="/tag/Invasion">Invasion</button>
            </form>
            <form action="/tag/Cybertron">
                <button type="submit" class="text-shadowed tag_btn me-3 mb-2" style="background-color: firebrick;" href="/tag/Cybertron">Cybertron</button>
            </form>
            <form action="/tag/Decepticons">
                <button type="submit" class="text-shadowed tag_btn me-3 mb-2" style="background-color:aquamarine" href="/tag/Decepticons">Decepticons</button>
            </form>
            </div>
            <div class="row align-items-start">
            <h2 class="text-shadowed">Help to recover Cybertron!</h2>
            <h4>Top-5 energon donaters</h4>
            <a href="#">Optimus Prime</a>
            <a href="#">Jetfire</a>
            <a href="#">Sentinel Prime</a>
            <a href="#">Lockdown</a>
            <a href="#">Ratchet</a>
            <div class="row align-items-end mt-2"><a href="#">Find out more about Cybertron recoverage govermental program</a></div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- ^ tags ^ -->